<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.likhanov.radioplayer">

    <application
            android:name=".RadioApp">

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name="com.likhanov.radioplayer.radio.RadioService$Companion$NotificationDismissedReceiver"
                android:exported="false">
        </receiver>
    </application>

</manifest>
